main .wrapper {
	padding: 40px 0 80px;
}
.breadcrumbs{
  display:flex;
  width:100%;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 0px;
  margin-bottom:24px;
  border-bottom: 1px solid #222;
}
.breadcrumbs p a{
  font-size: 16px;
  color:inherit;
}
.breadcrumbs p.home{
  padding-right: 24px;
  position: relative;
}
.breadcrumbs p.home:after{
  content:'\f054';
  font-family: "FontAwesome";
  position: absolute;
  font-size: 14px;
  right: 8px;
  top:50%;
  transform: translateY(-50%);
}
.breadcrumbs p.product a{
  opacity: 0.8;
}
.contact-wrapper{
  display:flex;
  gap: 60px;
  position: relative;
}
.contact .btn{
  outline:none;
  background:#e27822;
  border: 1px solid #222;
  border-radius: 4px;
  padding: 8px 36px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
  display:inline-flex;
  align-items: center;
  justify-content: center;
  width: max-content;
}
.contact-wrapper:after{
  content:'';
  width: 2px;
  height:100%;
  top:0;
  left:50%;
  position: absolute;
  background: #222;
}
.contact-form{
  display:flex;
  flex-flow: column nowrap;
  width:50%;
}
.contact-form h3{
  margin-bottom:28px;
  font-size: 24px;
}
.contact form{
  display:flex;
  flex-flow: column nowrap;
  gap: 18px;
}
.contact .input-wrapper{
  display:grid;
  grid-template-rows: 1fr;
  grid-template-columns: 100px 1fr;
}
.contact .input-wrapper input,
.contact textarea{
  flex-grow:1;
  font-family:'Roboto', sans-serif;
  font-size: 16px;
  padding: 4px 8px;
}
.contact textarea{
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 24px;
}
.contact .input-wrapper label{
  font-weight:bold;
  font-size: 18px;
}
.contact-wrapper .contact-info{
  display:flex;
  flex-flow: column nowrap;
  width:50%;
}
.contact-info h3{
  margin-bottom:28px;
  font-size: 24px;
}
.contact-info p{
  font-weight:bold;
  line-height:28px;
}
.contact-info span{
  opacity: 0.8;
  margin-bottom: 20px;
  margin-left: 12px;
}
@media only screen and (max-width: 765px){
  .contact-wrapper{
    flex-flow: column nowrap;
  }
  .contact-form, .contact-info{
    width:100%;
  }
  .contact{
    position: relative;
  }
  .contact .btn{
    width:100%;
  }
  .contact:after{
    content:'';
    height:2px;
    width:100%;
    background: #222;
    left:0;
    bottom: -30px;
    position: absolute;
  }
  .contact-wrapper:after{
    display:none;
  }
}